/* temp.css */

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 225, 225;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* if some weird padding happens rewrite the code for that container */
.horizontal-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px;
  font-size: 14px;
}

.horizontal-list li {
  padding: 10px;
}

.horizontal-list li a {
  color: black;
  text-decoration: none;
}

.horizontal-list li a:hover {
  text-decoration: none;
}

.literal-header {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
}

.dropdown {
  white-space: nowrap;
  position: relative;
}

.dropdown .submenu {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4f2fc;
  padding: 0;
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown .submenu li {
  padding: 15px;
}

.dropdown-symbol {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(180deg);
  margin-left: 2px;
  vertical-align: auto; /* Aligns the symbol vertically with the text */
  position: relative; /* Enables positioning within the parent element */
  top: -1px; /* Adjusts the vertical position as needed */
}

.unbold-text {
  font-weight: normal;
}

.buy-me-coffee {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.buy-me-coffee h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buy-me-coffee p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buy-me-coffee a {
  display: inline-block;
  background-color: #ff813f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.buy-me-coffee a:hover {
  background-color: #e26d33;
}

.intro {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.intro h1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.intro p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.featured-content {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.featured-content h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.featured-content p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.about-me {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.about-me h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.about-me p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.services {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.services h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.services p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.testimonials {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.testimonials h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.testimonials p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.cta {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.cta h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.cta p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.social-media {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.social-media h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.social-media p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.social-media a {
  color: black;
  text-decoration: none;
}

.contact-info {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.contact-info h2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}

.contact-info p {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  margin: 0;
}